{% load static %}
{% load static tailwind_tags %}

<footer class="footer_area text-white py-8" style="background-color: #7695FF;">
    <div class="container mx-auto">
        <div class="flex flex-col items-center">
          
            <div class="footer_logo mb-6">

            </div>
            <div class="footer_social flex space-x-6 md:space-x-10 mt-4">
                <a href="https://twitter.com/Eyeroll23" target="_blank">
                    <img src="/media/twitter.png" alt="Twitter" class="h-8 w-8">
                </a>
                <a href="https://www.instagram.com/prasiddhii.dahal/" target="_blank">
                    <img src="/media/instagram.png" alt="Instagram" class="h-8 w-8">
                </a>
                <a href="https://www.linkedin.com/in/prasiddhi-dahal-1a19a3218/" target="_blank">
                    <img src="/media/linkedin.png" alt="LinkedIn" class="h-8 w-8">
                </a>
                <a href="https://github.com/Prasiddhidahal" target="_blank">
                    <img src="/media/github.png" alt="GitHub" class="h-8 w-8">
                </a>
            </div>
            
        </div>
    </div>
</footer>
