{% extends "partials/baseadmin.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Posts</h1>

  <!-- Table to display user data and their posts -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Post Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>{{ post.author.username }}</td> <!-- Author's username -->
        <td>{{ post.author.email }}</td>    <!-- Author's email -->
        <td>{{ post.title }}</td>           <!-- Post title -->
        <td>{{ post.content }}</td>         <!-- Post content/description -->
        <td>
          <a href="{% url 'userauth:edit_post' post.id %}" class="btn btn-primary">Edit post</a>
          <a href="{% url 'userauth:delete_post' post.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>

          <a href="{% url 'userauth:view_post' post.id %}" class="btn btn-primary">View post</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
