{% extends "partials/base.html" %}
{% load static %}
{% load static tailwind_tags %}
{% block content %}
<div class="container mx-auto my-12 px-4">

    <div class="row justify-center">
        <div class="col-md-6">
            <div class="card shadow-lg rounded-lg bg-white p-6">
                <div class="card-header text-center bg-gray-100 py-4">
                    <h2 class="text-xl font-semibold">Create an Account</h2>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger bg-red-500 text-white p-3 rounded-md mb-4">
                        {{ form.errors }}
                    </div>
                {% endif %}
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <button type="submit" class="btn btn-submit w-full mt-4 inline-flex items-center justify-center bg-[#9DBDFF] hover:bg-gray-500 text-white font-bold py-2 px-4 rounded-lg">
                            Register
                        </button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'userauth:login' %}" class="text-blue-500 hover:underline">Already have an account? Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
