{% extends "partials/baseadmin.html" %}
{% load static tailwind_tags %}
{% block content %}

<div class="container mx-auto mt-4 px-4">
  {% tailwind_css %}
  <div class="bg-white shadow-lg rounded-lg p-6">
    <h1 class="text-2xl font-semibold mb-4">Post Details</h1>
    <div class="post-details">
      <h2 class="text-xl font-semibold mb-4">{{ post.title }}</h2>  
      
      {% if post.image %}
      <div class="flex justify-center mb-4">
          <img src="{{ post.image.url }}" alt="Post Image" class="rounded-lg shadow-md max-w-full h-auto">
      </div>
      {% endif %}
      
      <p><strong>Author:</strong> {{ post.author.username }}</p> 
      <p><strong>Email:</strong> {{ post.author.email }}</p>      
      <p><strong>Description:</strong> {{ post.content }}</p>     
      
      <div class="flex justify-end mt-6">
        <a href="{% url 'userauth:authorinfo' %}" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
